@tailwind base;
@tailwind components;
@tailwind utilities;

.snipcart {
  background-color: rgba(50,50,75,0.7);
  width: 100%;
  min-height: 2000px;
  position: absolute;
  z-index: 1000;
}

.snipcart-cart-summary__overlay {
  background-color: rgba(50,50,75,0.7);
}

.snipcart:empty {
  background-color: transparent;
  z-index: 0;
  display: none;
  
}

.snipcart-modal__container {
  width: 45%;
  height: 100%;
  left: auto;
  right: 0;
}

.snipcart-layout--large {
  width: 100% !important;
}

.snipcart-button-primary {
  background-color: cornflowerblue;
  box-shadow: cornflowerblue,0 10px 4px -8px rgba(0,0,0,.5);
}

.accordion .panel {
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.accordion input:checked~.panel {
  height: auto;
  color: #333;
  padding: 20px;
  transition: all 0.5s;
}


